header {
    width: 100%;
    height: 70px;
    margin-top: 0px;
    text-align: left;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 10px 0px 5px grey;
    clear: both;
}
.p {
    text-align:justify;
}

body {
    margin: auto;
    padding: 0;
    background-color: #eeeeee;
    font-size:18.0px;
}

a img {
    border: none;
}

/*
div.content {
    padding: 25px;
    background-color: #fff;
    width: 1000px;
    margin: 25px auto;
    clear: both;
    overflow: auto;
    border-radius: 25px;
}
*/

	

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }
	
	
div.content {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    max-width: 1000px;
    /*margin: 25px auto;
    margin-left: 25px;
margin-right: 25px;*/
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: auto;
}



.publication-table {
    width: 100%;
}

img.publication-image {
    width: 200px;
    height: 150px;
    align: center;
}

td.image-column {
    width: 220px;
    height: 200px;
}

td.description-column {
    width: 780;
    height: 200px;
    text-align: left;
}

td.activity-type-column {
    font-style: italic;
    font-size:50px;
    width: 220px;
}

td.activity-description-column {
    width: 780;
    text-align: left;
}

span.link {
    padding-right: 10px;
	text-align: center;
}

img.img_teaser {
    width: 100%;
    max-width: 950px;
    height: auto;
}

div.project_title {
    line-height: 250%;
    text-align: center;
}

div.project_headline,div.project_video, div.center_text {
    text-align: center;
/*    max-width: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;*/
}

div.img {
    display: inline-block;
    zoom: 1;
    display *: inline;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    text-align: justify:
}

div.stress {
    color: #AADD33
}

div.top_block {
    padding-top: 100px;
}

div.bottom_block {
    padding-bottom: 30px;
}

div.paper_title {
    font-weight: bold;
    font-size:24px;
    padding-bottom: 10px;
}

div.talk_title {
    font-weight: bold;
    font-size:24px;
    padding-bottom: 10px;
}

a:link {
    color: #33AADD
}
a:visited {
    color: #33AADD
}

a.author:link {
    color: #000000;
}

a.author:visited {
    color: #000000;
}

div.tab {
    font-size:30.0px;
    max-width: 1000px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

div.tab-name, div.tab-link {
    display:inline-block;
    text-decoration:none;
}

div.tab-name {
    float:left;
    padding-left:30px;
    font-size:150%;
    padding-top:10px;
}

div.tab-link {
    float:right;
    padding-right:30px;
    padding-top:15px;
}


a sup{
  display:inline-block;
  line-height:1.1em;
  text-decoration:none;
}

h3{
    font-size: 30px;
    margin-bottom: 5px;
	color: #a51417;
}
